.navbar-nav > a{
    padding-left:30px;
    padding-right:30px;
    margin-left:30px;
    margin-right:100px;
  }

  .home-div{
    text-align: center;
    margin-top: 30px;
  }
  .input-div{
    margin-top: 20px;
  }
  .button-div{
    margin-top: 20px;
  }
  .center-div{
    text-align: center;
    margin-top: 80px;
  }
  .video-div{
    text-align: center;
    margin-top: 80px;
  }
  .card-div{
    text-align: center;
    margin-top: 80px;
    margin-left: 230px;

  }
  .card {
    margin-left: 15px;
  }